{% if nagios_plugins is defined %}
{% for i in nagios_plugins %}
command[{{ i.command }}]={{ i.path }} {{ i.arguments }}
{% endfor %}
{% endif %}

{%- if git_nrpe_checks is defined %}
{% for line in git_nrpe_checks %}
{{ line }}
{% endfor %}
{% endif %}
